<nav>
    <div class="show-for-large-up">
        <!--pull the icons in the left-->
        <a href="#">
            <img alt="Brand" class="space_icons"
                 src="img/australian_gov_logo.png" >
        </a>
        <a><img alt="Brand" class="space_icons"
                src="img/european_commision_logo.png"></a>
        <a><img alt="Brand" class="space_icons"
                src="img/copernicus_logo.png"></a>
        <!--@hb-->
        <ul class="nav__content">
            <li ui-sref="home" ui-sref-active="active" ng-bind="'header.home'| translate" class="link"></li>
            <li ui-sref="explore" ui-sref-active="active" ng-bind="'header.explore'| translate" class="link"></li>
            <li ui-sref="help" ui-sref-active="active" ng-bind="'header.help'| translate" class="link"></li>
            <li ng-if="!mainController.isAuthenticated()" ui-sref="login" ng-bind="'header.login'| translate" class="link link--signin"></li>
            <li ng-if="!mainController.isAuthenticated()" ui-sref="register" class="link link--signup" ng-bind="'header.signup'| translate"></li>
            <li ng-if="mainController.isAuthenticated()" ui-sref="cart" ui-sref-active="active" class="link"><span class="fa fa-shopping-cart" title="{{'header.cart' | translate}}"></span></li>
            <li ng-if="mainController.isAuthenticated()" ui-sref="profile" class="link link--signup">{{mainController.userMail()}}</li>
        </ul>
    </div>
    <div class="hide-for-large-up">
        <ul class="nav__content">
            <li ng-click="mainController.toggleLeftMenu()" class="link link--showmenu fa fa-2x fa-bars" ng-class="{'fa-bars':!mainController.leftMenuIsVisible(), 'fa-close':mainController.leftMenuIsVisible()}"></li>
        </ul>
    </div>
</nav>



