<div class="content__page almostcovered" style="overflow: hidden;">
    <div class="coverbg"></div>
    <div class="content__description">
        <div class="content__start">
          
            <p ng-bind="'home.subtitle'|translate" class="show-for-large-up"></p>
            <div class="content__search">
                <form method="get" ng-submit="search()" name="searchForm">
                    <span class="resto-search"><input id="searchinput" type="search" ng-model="query" class="form-control" required="required" placeholder="{{'home.search.hint' | translate}}" style="font-size:1.5em;height:50px;max-width:800px;width:80%;"/></span>
                </form>
                <!--<p class="text-light"><span ng-bind="'eg'|translate"></span> "<a href="?q={{'home.search.example' | translate | urlencode}}&lang={{mainController.getLang()}}">{{'home.search.example' | translate}}</a>"</p>-->
            </div>
            
            
            
        </div>
    </div>
</div>
<div class="row fullWidth padded bglight">
    <!--
    <ul class="center feature-square__collection small-block-grid-1 large-block-grid-3">
        <li ng-repeat="(name, counter) in statistics.collection">
            <div class="feature-square__collection--content" ng-click="mainController.search('collection', name)">
                <b>{{name}}</b>
                <h3>{{counter}}</h3>
            </div>
        </li>
    </ul>
    -->
    
    <ul class="center feature-square__collection small-block-grid-1 large-block-grid-3">
        <li ng-repeat="coll in collections" ng-if="coll.friendlyName">
            <div class="feature-square__collection--content" ng-click="mainController.search('collection', coll.name)">
                <b>{{coll.friendlyName}}</b>
                <h3>{{coll.counter}}</h3>
            </div>
        </li>
    </ul>
</div>

<div class="content__page bglight" id="content__search">
    <div class="content__search--last">
        <h4 class="latest" ng-bind="'home.latest' | translate"></h4>
        <ul class="feature-square">
            <li class="feature" ng-repeat="feature in features" bg-image="{{ feature.properties.quicklook }}">
                <a ng-click="viewProduct(feature.id, feature.properties.collection)">
                    <div class="feature-square-info">
                        <div class="title">
                            <p>
                                <span class="bigger">{{ feature.properties.keywords | extractlocation }}</span><br/>
                                {{ feature.properties.completionDate | nicedate }}
                            </p>
                            <span class="smaller">{{ feature.properties.collection | uppercase }}</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul> 
    </div>
</div>

<div class="content__register bglight show-for-large-up">
    <div class="content__register--text" >
        <a ng-click="mainController.search()" class="button bcancel" ng-bind="'home.browse'|translate"></a>
        <a ui-sref="signin" class="button bconfirm" ng-bind="'home.register'|translate"></a>
    </div>
</div>

<div class="content__page">
    <div class="row fullWidth padded center show-for-large-up">
        <div class="large-2 columns" ng-repeat="(key, value) in statistics" ng-if="key !== 'continent'">
            <div class="content__statistics">
                <h5>{{key | uppercase}}</h5>
                <span ng-repeat="(name, counter) in value"><a ng-click="mainController.search(key, name)">{{name}}</a><br/></span>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    Powered by <a href="http://github.com/jjrom/resto2" class="colored">resto</a>, <a href="http://github.com/jjrom/itag" class="colored">iTag</a> and <a href="http://mapshup.com/projects/rocket" class="colored">rocket</a>
</div>
