<div class="fullWidth bgcolored gradient">
    <div class="row padded-vertical-large">
        <div class="large-12 columns" style="margin-top: 130px;">
            <h1 translate="resetPassword.title"></h1>
            <p class="small color__sara">{{email}}</p>
            <form method="post" ng-submit="resetPassword()" name="resetPasswordForm">
                <input type="password" name="password"
                       ng-model="password" class="form-control" required="required" placeholder="{{'resetPassword.password' | translate}}"/>
                <button type="submit" class="button white round"
                        ng-disabled="resetPassword.$invalid" translate="resetPassword.submit"></button>
            </form>
        </div>
    </div>
</div>