<div class="content">

    <!-- List view -->
    <div id="panel-list" ng-show="exploreCtrl.showList" class="ng-hide rocket-panel panel-list">
        <h1 class="center color__sara collection">{{exploreCtrl.friendlyName}}</h1>

        <!--The title of explore Page-->
        <div class="col-lg-12 columns center" ng-if="exploreCtrl.features.length === 0 && !exploreCtrl.analysis">
            <!--@hb Sara Title part-->
            <p ng-bind="'home.subtitle'|translate"
               class="chicago" style="font-size: x-large" ></p>

            <h3>{{'search.over' | translate}} {{exploreCtrl.count}} {{'search.products' | translate}}</h3>
        </div>
        <div class="col-lg-12 columns center" ng-if="exploreCtrl.analysis && exploreCtrl.analysis.query !== null " style="padding-top: 10px;">
            <!--@hb Sara Title part-->
            <p ng-bind="' You searched : ' + exploreCtrl.analysis.query" class="chicago" style="font-size: x-large"></p>
            <p class="chicago" style="font-size: medium">We understood : </p>
            <h6><b>WHEN : </b>
                <span ng-if="exploreCtrl.analysis.analyze.When.times">
                    <b>From</b>  {{exploreCtrl.cleanDateString(exploreCtrl.analysis.analyze.When.times[0]['time:start'])}}  <b>to</b>  {{exploreCtrl.cleanDateString(exploreCtrl.analysis.analyze.When.times[0]['time:end'])}}
                </span>
                <span ng-if="exploreCtrl.analysis.analyze.When.month || exploreCtrl.analysis.analyze.When.season">
                    {{ exploreCtrl.getKeyValueWhen(exploreCtrl.analysis.analyze.When) | translate}}
                </span>
            </h6>
            <h6><b>WHERE : </b>
                <span ng-if="exploreCtrl.analysis.analyze.Where[0].name">
                    {{exploreCtrl.analysis.analyze.Where[0].name}}</span>
                    <span ng-if="exploreCtrl.analysis.analyze.Where[0].country">, {{exploreCtrl.analysis.analyze.Where[0].country}}</span>
            </h6>
            <h6>
                <b>WHAT : </b>
                <span ng-repeat="term in exploreCtrl.analysis.analyze.What.searchTerms">
                    {{term | translate}}
                </span>
            </h6>
        </div>

        <div class="col-lg-12" style="padding-top: 10px;">
            <!--@hb The half of the page for the form & buttons-->
            <div class="col-lg-6">
                <!--@hb Part of Explore Form-->
                <form class="search-list margin-top-10">

                    <p style="margin-left: 12px;">{{ 'date.title' | translate | uppercase}}</p>
                    <!-- Begin date section-->
                    <div class="large-6 columns">
                        <datepicker date-format="yyyy-MM-dd" selector="form-control" >

                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary"
                                            style="height: 40px;
                                                   width: 100px;
                                                   padding: 10px; color: white; background-color: #1e364e;
                                                   border-top-left-radius: 0;
                                                   border-bottom-left-radius: 0;border-top-width: 2px; border-top-color: #666666;"
                                            type="button">Begin</button>
                                </span>
                                <input id="explore_input_date_begin" type="search" class="form-control"
                                       ng-model="exploreCtrl.params.startDate"
                                       style="height: 40px; border-top-width: 2px; border-top-color: #666666;"
                                       placeholder="Start Date">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary"
                                            ng-click="exploreCtrl.params.startDate=''"
                                            style="height: 40px;
                                                   width: 35px;
                                                   color: white;
                                                   background-color: #1e364e;
                                                   border-top-right-radius: 0;
                                                   border-bottom-right-radius: 0;
                                                   "
                                            type="button">X</button>
                                </span>

                            </div>

                        </datepicker>
                    </div>
                    <!-- End date section-->
                    <div class="large-6 columns">
                        <datepicker date-format="yyyy-MM-dd" selector="form-control" datepicker-show="exploreCtrl.dateEnd_Flag">

                            <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" style="height: 40px;
                                                                width: 100px;
                                                                padding: 10px; color: white; background-color: #1e364e;
                                                                border-top-left-radius: 0;
                                                                border-bottom-left-radius: 0;border-top-width: 2px; border-top-color: #666666;"
                                        type="button">End</button>
                            </span>
                                <input id="explore_input_date_end" type="text" class="form-control"
                                       ng-model="exploreCtrl.params.completionDate"
                                       style="height: 40px; border-top-width: 2px; border-top-color: #666666;"
                                       placeholder="End Date" >
                                <span class="input-group-btn">
                                    <button class="btn btn-primary"
                                            ng-click="exploreCtrl.params.completionDate=''"
                                            style="height: 40px;
                                                   width: 35px;
                                                   color: white;
                                                   background-color: #1e364e;
                                                   border-top-right-radius: 0;
                                                   border-bottom-right-radius: 0;
                                                   "
                                            type="button">X</button>
                                </span>
                            </div>

                        </datepicker>
                    </div>
                    <!-- Collection section-->
                    <div class="large-12 columns" style="margin-top : 10px;">
                        {{ ::'collection'| translate | uppercase }}
                        <select ng-model="exploreCtrl.params.collection" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                                ng-options="name as name for (name, count) in exploreCtrl.globalStatistics.collection  track by name"
                                ng-change="exploreCtrl.initForCollection()">
                            <option value="">-----</option>
                        </select>
                    </div>
                    <!-- Instrument section-->
                    <div class="large-12 columns">
                        {{ ::'instrument'| translate | uppercase }}
                        <select ng-model="exploreCtrl.params.instrument" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                                ng-options="name as name for (name, count) in exploreCtrl.statistics.instrument">
                            <option value="">-----</option>
                        </select>
                    </div>
                    <!--Product name-->
                    <div class="large-6 columns">
                        {{'product Name'| translate | uppercase }}
                        <select ng-model="exploreCtrl.params.productType" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                                ng-options="name as name for (name, count) in exploreCtrl.statistics.productType">
                            <option value="">-----</option>
                        </select>
                    </div>
                    <!--Sensor mode-->
                    <div class="large-6 columns">
                        {{'sensorMode'| translate | uppercase }}
                        <select ng-model="exploreCtrl.params.sensorMode" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                                ng-options="name as name for (name, count) in exploreCtrl.statistics.sensorMode">
                            <option value="">-----</option>
                        </select>
                    </div>
                    <!--Orbit direction-->
                    <div ng-if="exploreCtrl.params.collection === 'S1'" class="large-12 columns">
                        {{'Orbit Direction'| translate | uppercase }}
                        <select ng-model="exploreCtrl.params.orbitDirection" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                                ng-options="name as name for (name, count) in exploreCtrl.orbitDirections">
                            <option value="">-----</option>

                        </select>
                    </div>
                    <!--Polarization-->
                    <div ng-if="exploreCtrl.params.collection === 'S1'"
                         class="large-12 columns">
                        {{'PolariSation'| translate | uppercase }}
                        <select ng-model="exploreCtrl.params.polarisation" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                                ng-options="name as name for (name, count) in exploreCtrl.polarisations">
                            <option value="">-----</option>
                        </select>
                    </div>
                    <!--CloudCover-->
                    <div ng-if="exploreCtrl.params.collection === 'S2'" class="large-12 columns">
                        {{'label.cloud.cover'| translate | uppercase }}
                        <input type="number"
                               max="100"
                               min="0"
                               ng-model="exploreCtrl.cloudCover"
                               ng-change="exploreCtrl.changeCloudCover()"
                               placeholder="{{'label.cloud.cover.placeholder' | translate}}"
                               style="background-color: #F2F2F2;
                               border-top-width: 2px;
                               border-top-color: #666666;"/>
                    </div>

                </form>
                <!--Part of search Buttons-->
                <div class="col-lg-12">
                    <div class="row">
                        <div class="center">
                        <a class="margin-top-20 col-lg-offset-2 col-lg-8 col-md-6 col-sm-offset-3 col-sm-6  col-xs-12 "
                           style="background-color: #1e364e; padding:20px 60px; margin-bottom: 20px; color: white;
                           font-size: 1rem;"
                           ng-click="exploreCtrl.activatePolygonDrawning()">
                            {{exploreCtrl.polygonDrawningActivated === true ? 'search.cancel.polygonDrawning' : 'search.activate.polygonDrawning'| translate}}
                        </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row" style="display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display:flex;flex-wrap: wrap;">
                        <button id ="rest_criteria_explore" ng-click="exploreCtrl.reset()"
                                class="col-lg-5 col-xs-12 col-sm-5 col-md-5">
                            <a ng-bind="'search.resetfilters'|translate | uppercase"></a>
                            <i class="fa fa-repeat" aria-hidden="true"></i>
                        </button>

                        <button id="search_button_explore" ng-click="exploreCtrl.search()"
                                class="col-lg-5 col-xs-12 col-sm-offset-2 col-sm-5 col-md-offset-2 col-md-5">
                            <a>{{'search.updatelist'|translate | uppercase}}</a>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!--Map Part-->
            <div class="col-lg-6" style="">
                <div>
                    <div id="staticmap"></div>
                </div>
                <div  class="center" style="height:50px;">
                    <span ng-show="exploreCtrl.polygonDrawningActivated" class="ng-hide">{{'search.tip.draw' | translate}}</span>
                </div>
                <div class="center">
                    <!--<a ng-show="searchPolygon" class="ng-hide button" ng-click="resetSearchPolygon()" ng-bind="'search.reset.PolygonDrawning'|translate"></a>
                    -->
                </div>
            </div>

        </div>

        <!-- The search result section-->
        <div class="col-lg-12 tableContainer margin-top-10 center" style="padding-bottom:100px;"
             ng-if="exploreCtrl.features.length > 0">
            <!--Number of products section-->
            <!--{{exploreCtrl.features}}-->
            <!--Next previous section-->
            <div class="center">
                <p><b>
                    <a class="page color__sara" ng-show="exploreCtrl.features.length > 0 && exploreCtrl.params.page !== 1"
                       ng-click="exploreCtrl.previousPage()">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                <span style="color: green;">
                {{ ::'from' | translate}} {{exploreCtrl.resultCounter.start}} {{ ::'to' | translate }} {{exploreCtrl.resultCounter.end}}</span>
                    <a class="page color__sara" ng-show="exploreCtrl.features.length > 0 && !exploreCtrl.hasNoMore"
                       ng-click="exploreCtrl.nextPage()">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </b></p>
            </div>
            <table class="">
                <tr style="border-bottom: solid; text-align: center;">
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Quicklook' | translate}}</th>
                    <th style="padding-bottom: 10px; text-align: center" ng-if="!params.collection">{{ ::'Collection' | translate}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Location' | translate}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Acquisition date' | translate}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Platform'}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Instrument'}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Product type'}}</th>
                    <!--<th style="padding-bottom: 10px; text-align: center">{{ ::'Resolution'}}</th>-->
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Orbit number'}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Processing level'}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Sensor mode'}}</th>
                    <th style="padding-bottom: 10px; text-align: center"></th>
                </tr>
                <tr ng-repeat="feature in exploreCtrl.features">
                    <td style="text-align: center; padding: 10px 0px 10px 0px;">
                        <img class="thumbs" ng-src="{{ ::feature.properties.quicklook}}"
                             title="{{ ::feature.properties.productIdentifier }}"
                             ng-click="exploreCtrl.view('metadata', true, feature.properties.collection, feature.id)">
                    </td>
                    <td style="padding: 10px 0px 10px 0px;" ng-if="!params.collection">{{ ::feature.properties.collection}}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.keywords | extractlocation }}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.startDate | nicedate }}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.platform}}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.instrument}}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.productType}}</td>
                    <!--<td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.resolution}} m</td>-->
                    <td ng-if="::feature.properties.orbitNumber !== 0" style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.orbitNumber}}</td>
                    <td ng-if="::feature.properties.orbitNumber === 0" style="padding: 10px 0px 10px 0px;">-</td>


                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.processingLevel}}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.sensorMode}}</td>
                    <td style="text-align: center; padding: 10px 0px 10px 0px;" >
                        <a class="color__sara" ng-click="exploreCtrl.view('metadata', true, feature.properties.collection, feature.id)">
                            <span style="color: green;"><b>{{ 'Details' | translate}} ></b></span></a>
                        <a ng-if="mainController.isAuthenticated()" class="fa fa-3x fa-cart-plus"
                           ng-click="mainController.addToCart(feature, $event)"></a>
                    </td>
                </tr>
            </table>
            <div class="center margin-top-10">
                <p><b>
                    <a class="page color__sara" ng-show="exploreCtrl.features.length > 0 && exploreCtrl.params.page !== 1"
                       ng-click="exploreCtrl.previousPage()">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                    <span style="color: green;">
                    {{'from' | translate}} {{exploreCtrl.resultCounter.start}} {{'to' | translate }} {{exploreCtrl.resultCounter.end}}
                    </span>
                    <a class="page color__sara" ng-show="exploreCtrl.features.length > 0 && !exploreCtrl.hasNoMore"
                       ng-click="exploreCtrl.nextPage()">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </b></p>
            </div>
        </div>
    </div>
</div>

