<div class="fullWidth bgcolored gradient">
    <div class="row padded-vertical-large">
        <div class="large-12 columns" style="margin-top: 130px;">
            <h1 translate="lostPassword.title"></h1>
            <form method="post" ng-submit="lostPassword()" name="lostPasswordForm" class="unmarged">
                <input type="email" name="email" ng-model="email" class="form-control" required="required"
                       placeholer="{{'lostPassword.email' | translate}}"/>
                <button type="submit" class="button white round"
                        ng-disabled="lostPasswordForm.$invalid" translate="lostPassword.submit"></button>
            </form>
        </div>
    </div>
</div>