<div class="content_signin">
    <div class="row">
        <div class="large-12 columns">

            <div class="center">
                <button class="colored" ng-click="authenticate('sara')">{{'signin.authenticate'| translate}}</button>
            </div>
            <h4 class="center" ng-bind="'signin.or' | translate"></h4>
            <div class="large-12 columns padded-small-top center">
                <a href="https://localhost" ng-bind="'signin.noaccountyet' | translate" class="colored"></a>
            </div>
        </div>
    </div>
</div>