<div class="coverbg__register"></div>
<div class="content_page content_register">
    <div class="row content_register-block">
        <form method="post" ng-submit="lostPassword()" name="lostPasswordForm">
            <div class="large-6 columns">
                <input type="email" name="email" ng-model="email" class="form-control" required="required" placeholder="{{'lostPassword.email'| translate}}"/>
            </div>
            <div class="large-12 columns">
                <button type="submit" class="button" ng-disabled="lostPasswordForm.$invalid" ng-bind="'lostPassword.submit' | translate"></button>
            </div>
        </form>
    </div>
</div>