<div class="coverbg__register"></div>
<div class="content_page content_register">
    <div class="row content_register-block">
        <form method="post" ng-submit="resetPassword()" name="resetPasswordForm">
            <div class="large-6 columns">
                <input type="password" name="password" ng-model="password" class="form-control" required="required" placeholder="{{'resetPassword.password'| translate}}"/>
            </div>
            <div class="large-12 columns">
                <button type="submit" class="button" ng-disabled="resetPassword.$invalid" ng-bind="'resetPassword.submit' | translate"></button>
            </div>
        </form>
    </div>
</div>