<div class="content">

    <!-- Metadata view -->
    <div id="panel-metadata" ng-show="exploreCtrl.showMetadata" class="ng-hide rocket-panel"></div>

    <!-- List view -->
    <div id="panel-list" ng-show="exploreCtrl.showList" class="ng-hide rocket-panel panel-list">
        <h1 class="center color__sara collection">{{exploreCtrl.friendlyName}}</h1>
        <!--<p class="row center description">{{Description}}</p>-->
        <!--Search Over Part-->
        <div class="large-6 columns">

            <form class="search-list margin-top-10">
                <div class="large-12 columns center" ng-if="exploreCtrl.features.length === 0">
                    <!--@hb Sara Title part-->
                    <p ng-bind="'home.subtitle'|translate"
                       class="chicago" style="font-size: x-large" ></p>

                    <h3>{{'search.over' | translate}} {{exploreCtrl.count}} {{'search.products' | translate}}</h3>
                </div>

                <p style="margin-left: 12px;">{{ ::'date.title' | translate | uppercase}}</p>

                <div class="large-6 columns">
                    <datepicker date-format="yyyy-MM-dd">
                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon" >@</span>-->
                            <!--<input type="text" class="form-control"-->
                                   <!--ng-model="exploreCtrl.params.startDate"-->
                                   <!--placeholder="" >-->
                        <!--</div>-->
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" style="padding: 10px;" type="button">Begin</button>
                            </span>
                            <input type="text" class="form-control"
                                   ng-model="exploreCtrl.params.startDate"
                                   placeholder="" >
                        </div>

                    </datepicker>
                </div>
                <div class="large-6 columns">
                    <datepicker date-format="yyyy-MM-dd">
                        <input ng-model="exploreCtrl.params.completionDate" type="text" placeholder=""/>
                    </datepicker>
                </div>
                <div class="large-12 columns">
                    {{ ::'platform'| translate | uppercase }}
                    <select ng-model="exploreCtrl.params.platform" ng-options="name as name for (name, count) in exploreCtrl.statistics.platform">
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="large-6 columns">
                    {{ ::'instrument'| translate | uppercase }}
                    <select ng-model="exploreCtrl.params.instrument" ng-options="name as name for (name, count) in exploreCtrl.statistics.instrument">
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="large-6 columns">
                    {{ ::'processingLevel'| translate | uppercase }}
                    <select ng-model="exploreCtrl.params.processingLevel" ng-options="name as name for (name, count) in exploreCtrl.statistics.processingLevel">
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="large-6 columns">
                    {{ ::'productType'| translate | uppercase }}
                    <select ng-model="exploreCtrl.params.productType" ng-options="name as name for (name, count) in exploreCtrl.statistics.productType">
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="large-6 columns">
                    {{'sensorMode'| translate | uppercase }}
                    <select ng-model="exploreCtrl.params.sensorMode" ng-options="name as name for (name, count) in exploreCtrl.statistics.sensorMode">
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="large-12 columns">
                    {{'search.location' | translate | uppercase}}
                    <form method="get" ng-submit="exploreCtrl.search()" name="searchForm">
                        <span>
                            <input id="searchLocation" type="search" ng-model="exploreCtrl.params.location" class="form-control" required="required"
                                   placeholder="{{'search.ex' | translate}} T31TFM"/>
                        </span>
                    </form>
                </div>
                <div class="large-12 columns">
                    {{'search.keywords' | translate | uppercase}}
                    <form method="get" ng-submit="exploreCtrl.search()" name="searchForm">
                        <span>
                            <input id="searchinput" type="search" ng-model="exploreCtrl.params.q" class="form-control"
                                   required="required" placeholder="{{'search.ex' | translate}} Toulouse"/>
                        </span>
                    </form>
                </div>
            </form>
            <div class="center">
                <a class="button margin-top-20" ng-click="exploreCtrl.activatePolygonDrawning()">
                    {{exploreCtrl.polygonDrawningActivated === true ? 'search.deactivate.polygonDrawning' : 'search.activate.polygonDrawning'| translate}}</a>
                <a class="button bcancel margin-top-20" ng-click="exploreCtrl.reset()" ng-bind="'search.resetfilters'|translate"></a>
                <a class="button bconfirm margin-top-20" ng-click="exploreCtrl.search()" ng-bind="'search.updatelist'|translate"></a>
            </div>
        </div>
        <!--Map Part-->
        <div class="large-6 columns">
            <div>
                <div id="staticmap"></div>
            </div>
            <div  class="center" style="height:50px;">
                <span ng-show="exploreCtrl.polygonDrawningActivated" class="ng-hide">{{'search.tip.draw' | translate}}</span>
            </div>
            <div class="center">
                <!--<a ng-show="searchPolygon" class="ng-hide button" ng-click="resetSearchPolygon()" ng-bind="'search.reset.PolygonDrawning'|translate"></a>
                -->
            </div>
        </div>
        <div class="large-12 columns">

        </div>

        <div class="large-12 columns tableContainer margin-top-10 center" style="padding-bottom:100px;"
             ng-if="exploreCtrl.features.length > 0">
            <div class="center">
                <p>
                    <a class="page color__sara" ng-show="exploreCtrl.features.length > 0 && exploreCtrl.params.page !== 1"
                       ng-click="exploreCtrl.previousPage()">
                        {{ ::'previous' | translate}}
                    </a>
                    {{ ::'from' | translate}} {{exploreCtrl.resultCounter.start}} {{ ::'to' | translate }} {{exploreCtrl.resultCounter.end}}
                    <a class="page color__sara" ng-show="exploreCtrl.features.length > 0 && !exploreCtrl.hasNoMore"
                       ng-click="exploreCtrl.nextPage()">
                        {{ ::'next' | translate}}></a>
                </p>
            </div>
            <table class="">
                <tr>
                    <th>{{ ::'quicklook' | translate | uppercase}}</th>
                    <th ng-if="!exploreCtrl.params.collection">{{ ::'collection' | translate | uppercase}}</th>
                    <th>{{ ::'location' | translate | uppercase}}</th>
                    <th>{{ ::'date' | translate | uppercase}}</th>
                    <th>{{ ::'platform' | uppercase}}</th>
                    <th>{{ ::'instrument' | uppercase}}</th>
                    <th>{{ ::'productType' | uppercase}}</th>
                    <th>{{ ::'resolution' | uppercase}}</th>
                    <th>{{ ::'orbitNumber' | uppercase}}</th>
                    <th>{{ ::'processingLevel' | uppercase}}</th>
                    <th>{{ ::'sensorMode' | uppercase}}</th>
                    <th></th>
                </tr>
                <tr ng-repeat="feature in exploreCtrl.features" >
                    <td style="text-align: center;"><img class="thumbs" ng-src="{{ ::feature.properties.quicklook}}" title="{{ ::feature.properties.productIdentifier }}"
                                                         ng-click="exploreCtrl.view('metadata', true, feature.properties.collection, feature.id)"></td>
                    <td ng-if="!params.collection">{{ ::feature.properties.collection}}</td>
                    <td>{{ ::feature.properties.keywords | extractlocation }}</td>
                    <td>{{ ::feature.properties.startDate | nicedate }}</td>
                    <td>{{ ::feature.properties.platform}}</td>
                    <td>{{ ::feature.properties.instrument}}</td>
                    <td>{{ ::feature.properties.productType}}</td>
                    <td>{{ ::feature.properties.resolution}} m</td>
                    <td>{{ ::feature.properties.orbitNumber}}</td>
                    <td>{{ ::feature.properties.processingLevel}}</td>
                    <td>{{ ::feature.properties.sensorMode}}</td>
                    <td style="text-align: center;" >
                        <a class="color__sara" ng-click="exploreCtrl.view('metadata', true, feature.properties.collection, feature.id)">
                            {{ ::'details' | translate}}</a>
                        <a ng-if="mainController.isAuthenticated()" class="fa fa-3x fa-cart-plus"
                           ng-click="mainController.addToCart(feature, $event)"></a>
                    </td>
                </tr>
            </table>
            <div class="center margin-top-10">
                <p>
                    <a class="page color__sara" ng-show="exploreCtrl.features.length > 0 && exploreCtrl.params.page !== 1"
                       ng-click="exploreCtrl.previousPage()">{{'previous' | translate}}</a>
                    {{'from' | translate}} {{exploreCtrl.resultCounter.start}} {{'to' | translate }} {{exploreCtrl.resultCounter.end}}
                    <a class="page color__sara" ng-show="exploreCtrl.features.length > 0 && !exploreCtrl.hasNoMore"
                       ng-click="exploreCtrl.nextPage()">{{'next' | translate}}></a>
                </p>
            </div>
        </div>
    </div>
</div>

