<div class="content">

    <!-- Metadata view -->
    <div id="panel-metadata" ng-show="exploreCtrl.showMetadata" class="ng-hide rocket-panel"></div>

    <!-- List view -->
    <div id="panel-list" ng-show="exploreCtrl.showList" class="ng-hide rocket-panel panel-list">
        <h1 class="center color__sara collection">{{exploreCtrl.friendlyName}}</h1>
        <!--@hb The half of the page for the form & buttons-->
        <div class="large-6 columns">
            <!--@hb Part of Explore Form-->
            <form class="search-list margin-top-10">
                <div class="large-12 columns center" ng-if="exploreCtrl.features.length === 0">
                    <!--@hb Sara Title part-->
                    <p ng-bind="'home.subtitle'|translate"
                       class="chicago" style="font-size: x-large" ></p>

                    <h3>{{'search.over' | translate}} {{exploreCtrl.count}} {{'search.products' | translate}}</h3>
                </div>

                <p style="margin-left: 12px;">{{ 'date.title' | translate | uppercase}}</p>
                <!-- Begin date section-->
                <div class="large-6 columns">
                    <datepicker date-format="yyyy-MM-dd">

                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" style="height: 40px;
                                                                width: 100px;
                                                                padding: 10px; color: white; background-color: #1e364e;
                                                                border-top-left-radius: 0;
                                                                border-bottom-left-radius: 0;border-top-width: 2px; border-top-color: #666666;"
                                        type="button">Begin</button>
                            </span>
                            <input id="explore_input" type="text" class="form-control"
                                   ng-model="exploreCtrl.params.startDate"
                                   style="height: 40px; border-top-width: 2px; border-top-color: #666666;"
                                   placeholder="" >
                        </div>

                    </datepicker>
                </div>
                <!-- End date section-->
                <div class="large-6 columns">
                    <datepicker date-format="yyyy-MM-dd">

                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" style="height: 40px;
                                                                width: 100px;
                                                                padding: 10px; color: white; background-color: #1e364e;
                                                                border-top-left-radius: 0;
                                                                border-bottom-left-radius: 0;border-top-width: 2px; border-top-color: #666666;"
                                        type="button">End</button>
                            </span>
                            <input id="explore_input" type="text" class="form-control"
                                   ng-model="exploreCtrl.params.completionDate"
                                   style="height: 40px; border-top-width: 2px; border-top-color: #666666;"
                                   placeholder="" >
                        </div>

                    </datepicker>
                </div>
                <!-- Collection section-->
                <div class="large-12 columns" style="margin-top : 10px;">
                    {{ ::'collection'| translate | uppercase }}
                    <select ng-model="exploreCtrl.params.collection" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                            ng-options="name as name for (name, count) in exploreCtrl.statistics.collection">
                        <option value="">-----</option>
                    </select>
                </div>
                <!-- Platform section-->
                <div class="large-6 columns">
                    {{ ::'platform'| translate | uppercase }}
                    <select ng-model="exploreCtrl.params.platform" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                            ng-options="name as name for (name, count) in exploreCtrl.statistics.platform">
                        <option value="">-----</option>
                    </select>
                </div>
                <!-- Instrument section-->
                <div class="large-6 columns">
                    {{ ::'instrument'| translate | uppercase }}
                    <select ng-model="exploreCtrl.params.instrument" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                            ng-options="name as name for (name, count) in exploreCtrl.statistics.instrument">
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="large-12 columns">
                    {{ ::'processingLevel'| translate | uppercase }}
                    <select ng-model="exploreCtrl.params.processingLevel" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                            ng-options="name as name for (name, count) in exploreCtrl.statistics.processingLevel">
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="large-6 columns">
                    {{ ::'productType'| translate | uppercase }}
                    <select ng-model="exploreCtrl.params.productType" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                            ng-options="name as name for (name, count) in exploreCtrl.statistics.productType">
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="large-6 columns">
                    {{'sensorMode'| translate | uppercase }}
                    <select ng-model="exploreCtrl.params.sensorMode" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                            ng-options="name as name for (name, count) in exploreCtrl.statistics.sensorMode">
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="large-12 columns">
                    {{'search.location' | translate | uppercase}}
                    <form method="get" ng-submit="exploreCtrl.search()" name="searchForm">
                        <span>
                            <input id="searchLocation" type="search" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                                   ng-model="exploreCtrl.params.location" class="form-control" required="required"
                                   placeholder="{{'search.ex' | translate}} T31TFM"/>
                        </span>
                    </form>
                </div>
                <div class="large-12 columns">
                    {{'search.keywords' | translate | uppercase}}
                    <form method="get" ng-submit="exploreCtrl.search()" name="searchForm">
                        <span>
                            <input id="searchinput" type="search" style="background-color: #F2F2F2; border-top-width: 2px; border-top-color: #666666;"
                                   ng-model="exploreCtrl.params.q" class="form-control"
                                   required="required" placeholder="{{'search.ex' | translate}} Toulouse"/>
                        </span>
                    </form>
                </div>
            </form>
            <!--Part of search Buttons-->
            <div class="large-12">
                <div class="center">
                    <a class="button margin-top-20"
                       style="background-color: #1e364e; padding:20px 60px;"
                       ng-click="exploreCtrl.activatePolygonDrawning()">
                        {{exploreCtrl.polygonDrawningActivated === true ? 'search.deactivate.polygonDrawning' : 'search.activate.polygonDrawning'| translate}}</a>
                </div>
            </div>


            <div class="large-12">
                <div class="center">
                    <span ng-click="exploreCtrl.reset()" class="pull-left">
                        <a class="button bcancel margin-top-20"
                            style="background-color: rgba(215, 215, 215, 1); color : #666666; padding-top:20px;
                            padding-bottom : 20px; padding-left: 60px; padding-right:10px;
                            margin-right: -5px; margin-left: 15px;"
                            ng-bind="'search.resetfilters'|translate | uppercase">
                        </a>

                        <i style="background-color: rgba(215, 215, 215, 1);
                            color : #666666; padding-bottom: 20px;
                            padding-top: 14px;
                            padding-right: 60px;
                            padding-left: 11px;
                            margin-left: 0px;
                            font-size: x-large;"
                            class="fa fa-repeat" aria-hidden="true"></i>
                    </span>
                    <span ng-click="exploreCtrl.search()" class="pull-right">
                        <a class="button bconfirm margin-top-20"
                            style="background-color: green;
                            padding-top:20px;
                            padding-bottom : 20px; padding-left: 130px; padding-right:10px;
                            margin-right: -5px;"
                           ng-bind="'search.updatelist'|translate | uppercase">
                        </a>

                        <i style="background-color: green;
                            color : white; padding-bottom: 20px;
                            padding-top: 14px;
                            padding-right: 130px;
                            padding-left: 11px;
                            margin-left: 0px;
                            margin-right: 15px;
                            font-size: x-large;"
                            class="fa fa-search" aria-hidden="true"></i>

                    </span>
                </div>
            </div>
        </div>
        <!--Map Part-->
        <div class="large-6 columns" style="margin-top: 125px;">
            <div>
                <div id="staticmap"></div>
            </div>
            <div  class="center" style="height:50px;">
                <span ng-show="exploreCtrl.polygonDrawningActivated" class="ng-hide">{{'search.tip.draw' | translate}}</span>
            </div>
            <div class="center">
                <!--<a ng-show="searchPolygon" class="ng-hide button" ng-click="resetSearchPolygon()" ng-bind="'search.reset.PolygonDrawning'|translate"></a>
                -->
            </div>
        </div>
        <!--<div class="large-12 columns">-->

        <!--</div>-->
        <!-- The search result section-->
        <div class="large-12 columns tableContainer margin-top-10 center" style="padding-bottom:100px;"
             ng-if="exploreCtrl.features.length > 0">
            <!--Number of products section-->
            <!--{{exploreCtrl.features}}-->
            <!--Next previous section-->
            <div class="center">
                <p><b>
                    <a class="page color__sara" ng-show="exploreCtrl.features.length > 0 && exploreCtrl.params.page !== 1"
                       ng-click="exploreCtrl.previousPage()">
                        {{ ::'previous' | translate}}
                    </a>
                <span style="color: green;">
                {{ ::'from' | translate}} {{exploreCtrl.resultCounter.start}} {{ ::'to' | translate }} {{exploreCtrl.resultCounter.end}}</span>
                    <a class="page color__sara" ng-show="exploreCtrl.features.length > 0 && !exploreCtrl.hasNoMore"
                       ng-click="exploreCtrl.nextPage()">
                        {{ ::'next' | translate}}</a>
                </b></p>
            </div>
            <table class="">
                <tr style="border-bottom: solid; text-align: center;">
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Quicklook' | translate}}</th>
                    <th style="padding-bottom: 10px; text-align: center" ng-if="!exploreCtrl.params.collection">{{ ::'Collection' | translate}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Location' | translate}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Acquisition date' | translate}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Platform'}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Instrument'}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Product type'}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Resolution'}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Orbit number'}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Processing level'}}</th>
                    <th style="padding-bottom: 10px; text-align: center">{{ ::'Sensor mode'}}</th>
                    <th style="padding-bottom: 10px; text-align: center"></th>
                </tr>
                <tr ng-repeat="feature in exploreCtrl.features">
                    <td style="text-align: center; padding: 10px 0px 10px 0px;">
                        <img class="thumbs" ng-src="{{ ::feature.properties.quicklook}}"
                             title="{{ ::feature.properties.productIdentifier }}"
                             ng-click="exploreCtrl.view('metadata', true, feature.properties.collection, feature.id)">
                    </td>
                    <td style="padding: 10px 0px 10px 0px;" ng-if="!params.collection">{{ ::feature.properties.collection}}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.keywords | extractlocation }}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.startDate | nicedate }}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.platform}}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.instrument}}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.productType}}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.resolution}} m</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.orbitNumber}}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.processingLevel}}</td>
                    <td style="padding: 10px 0px 10px 0px;">{{ ::feature.properties.sensorMode}}</td>
                    <td style="text-align: center; padding: 10px 0px 10px 0px;" >
                        <a class="color__sara" ng-click="exploreCtrl.view('metadata', true, feature.properties.collection, feature.id)">
                            <span style="color: green;"><b>{{ 'Details' | translate}} ></b></span></a>
                        <a ng-if="mainController.isAuthenticated()" class="fa fa-3x fa-cart-plus"
                           ng-click="mainController.addToCart(feature, $event)"></a>
                    </td>
                </tr>
            </table>
            <div class="center margin-top-10">
                <p><b>
                    <a class="page color__sara" ng-show="exploreCtrl.features.length > 0 && exploreCtrl.params.page !== 1"
                       ng-click="exploreCtrl.previousPage()">{{'previous' | translate}}</a>
                    <span style="color: green;">
                    {{'from' | translate}} {{exploreCtrl.resultCounter.start}} {{'to' | translate }} {{exploreCtrl.resultCounter.end}}
                    </span>
                    <a class="page color__sara" ng-show="exploreCtrl.features.length > 0 && !exploreCtrl.hasNoMore"
                       ng-click="exploreCtrl.nextPage()">{{'next' | translate}}></a>
                </b></p>
            </div>
        </div>
    </div>
</div>

