<div class="content_register">
    <div class="row">
        <form method="post" ng-submit="registerCtrl.signup()" name="signupForm">
            <div class="large-12 columns">
                <h2 ng-bind="'register.title'|translate"></h2>
                <h4 ng-bind="'register.explain'|translate"></h4>
            </div>
            
            <div class="large-12 columns center">
                <a ui-sref="signin" ng-bind="'register.alreadyregistered'|translate" class="colored"></a>
            </div>
        </form>
    </div>
</div>
